body {

}

nav {
  height: 75px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  background-color: rgb(5, 150, 118) !important;
}

nav .navbar-brand {
  font-size: 30px;
}

nav .navbar-brand .med {
  color: rgb(82, 248, 4);
  font-weight: bold;
}

nav .navbar-brand .a {
  color:rgb(9, 59, 224);
  font-weight: bold;
}

nav ul li a {
  font-size: 18px;
  margin-right: 10px;
  color: #fff !important;
}